<main class="main page-container container-fluid">
    <div class="title">Главная</div>
    <section class="interval-selector  row m-0 px-0 gy-3">
        <button type="button" class="period-select interval-btn btn btn-outline-secondary active" data-period='today'>Сегодня</button>
        <button type="button" class="period-select interval-btn btn btn-outline-secondary" data-period='week'>Неделя</button>
        <button type="button" class="period-select interval-btn btn btn-outline-secondary" data-period='month'>Месяц</button>
        <button type="button" class="period-select interval-btn btn btn-outline-secondary" data-period='year'>Год</button>
        <button type="button" class="period-select interval-btn btn btn-outline-secondary"  data-period='all'>Все</button>

        <div class="set-interval-section d-flex  p-0">

            <button type="button" class="period-select interval-btn btn btn-outline-secondary" data-period='interval'>Интервал</button>
            <div class="date-separation">с</div>
            <button type="button" class="date-set-btn btn btn-link me-3" id="dateFrom">Дата</button>
            <div class="date-separation" id="till">по</div>
            <button type="button" class="date-set-btn btn btn-link" id="dateTo">Дата</button>
        </div>


    </section>

    <section class="chars" >
        <div class="chart">
            <div class="chart-title">Доходы</div>
            <canvas id="incomesChart" ></canvas>
        </div>
        <div class="separator"></div>
        <div class="chart">
            <div class="chart-title">Расходы</div>
            <canvas id="spenceChart" ></canvas>
        </div>

    </section>


</main>